.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TODOListContainer {
  width : 900px;
  margin: 20px auto auto auto;
  padding: 2px;
}

.TODOList {
  border: 1px solid gray;
  padding: 2px;
}

.TODOListControls {
  margin: 20px auto auto auto;
}

.TODO_checked {
  text-decoration: line-through;
}

.TODO_deleted {
  display: none;
}